<div class="div-spinner" [ngClass]="{ 'hide' : !loading }">
	<div class="cc-spinner">
		<i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
		<span class="sr-only">Loading...</span>
	</div>
</div>

<div class="row">
	<div class="columns">
		<h2>Contact Information</h2>
		<p>Please review the information below. If the information is missing or incorrect, please update it.</p>
	</div>
</div>

<form [formGroup]="addressInfoForm" (submit)="submit(addressInfoForm)" autocomplete="off" novalidate>
	
	<div class="hide1" [ngClass]="{ 'hide1' : loading }">
		<div class="row">
			<div class="medium-6 columns">
				<label>Street Address 1
					<input type="text" formControlName="address1" autofocus required  />
				</label>
			</div>
			<div class="medium-6 columns">
				<label>Street Address 2
					<input type="text" formControlName="address2" />
				</label>
			</div>
		</div>

		<div class="row">
			<div class="medium-6 columns">
				<label>City
					<input type="text" formControlName="city" required />
				</label>
			</div>
			<div class="medium-3 columns">
				<label>State
					<select formControlName="state" required>
						<option *ngFor="let state of usStates" [value]="state" >
							{{state}}
						</option>
					</select>
				</label>
			</div>
			<div class="medium-3 columns">
				<label>Zip
					<p-inputMask mask="99999?-9999" formControlName="zip" placeholder="99999-9999" required></p-inputMask>
				</label>
			</div>
		</div>

		<div class="row">
			<div class="medium-6 columns">
				<label>Mobile Phone
					<p-inputMask mask="(999) 999-9999" formControlName="mobilePhone" placeholder="(999) 999-9999" required></p-inputMask>
				</label>
			</div>
			<div class="medium-6 columns">
				<label>Alternate Phone
					<p-inputMask mask="(999) 999-9999" formControlName="altPhone" placeholder="(999) 999-9999" ></p-inputMask>
				</label>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="columns">
			<button class="button right" [disabled]="addressInfoForm.invalid || submitted">
				<i class="fa fa-spinner fa-pulse fa-fw" *ngIf="submitted"></i>
				Continue
			</button>		
		</div>
	</div>
</form>