<div class="div-spinner" [ngClass]="{ 'hide' : !loading }">
	<div class="cc-spinner">
		<i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
		<span class="sr-only">Loading...</span>
	</div>
</div>

<div class="row">
	<div class="columns">
		<h2>Verify Your Identity</h2>
		<p>Please answer the questions below.</p>
	</div>
</div>

<form id="identityQuizForm" (submit)="submit()" [formGroup]="quizForm">
		
	<div *ngFor="let question of questions">
		<div class="row">
			<div class="columns">
				<cc-dyn-question [question]="question" [form]="quizForm"></cc-dyn-question>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="columns">
			<button class="button right" [disabled]="quizForm.invalid || submitted">
				<i class="fa fa-spinner fa-pulse fa-fw" *ngIf="submitted"></i>
				Continue
			</button>		
		</div>
	</div>

</form>