<apex:component id="Portal_Documents">

	<apex:includeScript value="{!$Resource.portal_documents_app}" />
	<apex:includeScript value="{!$Resource.portal_documents_viewModel}" />

	<apex:attribute name="guid" type="String" description="global application GUID" />

	<c:Portal_App_Documents_KO_Template />

	<div class="routedView" data-bind="with: Portal_Documents{!guid},
					routeVisible: 'documents', 
					alwaysVisible: true">

		<div data-bind="template: {name: 'documents-ko-template'}" />

	</div>

	<script type="text/javascript">
		(function (app) {
			app.register(
				'Portal_Documents{!guid}',
				{}
			)
		})(new LifeCycle.Portal_Documents.App());
	</script>

</apex:component>