<apex:component id="Portal_VerifyId">

  <script type="text/html" id="verifyid-ko-template">

    <form>
        <div class="row">
        <div class="row">
          <div class="large-5 columns">
            <label>First Name
              <input type="text" placeholder="large-3.columns" />
            </label>
          </div>
          <div class="large-6 columns">
            <label>Last Name
              <input type="text" placeholder="large-3.columns" />
            </label>
          </div>
          <!-- <div class="large-3 columns">
            <label>SSN
              <input type="text" placeholder="large-3.columns" />
            </label>
          </div> -->
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Select Box
              <select>
                <option value="husker">Husker</option>
                <option value="starbuck">Starbuck</option>
                <option value="hotdog">Hot Dog</option>
                <option value="apollo">Apollo</option>
              </select>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns">
            <label>Choose Your Favorite</label>
            <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
            <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
          </div>
          <div class="large-6 columns">
            <label>Check these out</label>
            <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
            <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Textarea Label
              <textarea placeholder="small-12.columns"></textarea>
            </label>
          </div>
        </div>
      </form>

</script>

</apex:component>