<apex:component id="Portal_Menu">

    <script type="text/html" id="menu-ko-template">

        <ul class="tabs vertical" data-tab>
            <li class="tab-title"><a href="#{!$Label.Portal_Route_VerifyId}">Identify Verification</a></li>
            <li class="tab-title"><a href="#personal-information">Personal Information</a></li>
            <li class="tab-title"><a href="#business-information">Business Information</a></li>
            <li class="tab-title"><a href="#disclosures">Disclosures</a></li>
            <li class="tab-title"><a href="#documents">Documents</a></li>

        </ul>
    
    </script>

</apex:component>