<apex:component>

	<apex:includeScript value="{!$Resource.jquery_1_12_4_min_js}" />

	<script type="text/javascript">
		jQuery.noConflict();

	</script>
	<apex:includeScript value="{!$Resource.underscore_min_js}" />
	<apex:includeScript value="{!$Resource.uuid_js}" />
	<apex:includeScript value="{!$Resource.moment_min_js}" />

	<apex:includeScript value="{!$Resource.lifecycle_js}" />
	<apex:includeScript value="{!$Resource.forcetk}" />

	<apex:includeScript value="{!$Resource.knockout_3_4_0_min_js}" />
	<apex:includeScript value="{!$Resource.knockout_validation_min_js}" />
	<apex:includeScript value="{!$Resource.portal_ko_custom_bindings_js}" />
	<apex:includeScript value="{!$Resource.portal_ko_custom_validation_js}" />

	<apex:includeScript value="{!$Resource.foundation_min_js}" />
	<apex:stylesheet value="{!$Resource.foundation_min_css}" />
	<apex:stylesheet value="{!URLFOR($Resource.fontawesome, 'fontawesome/css/font-awesome.min.css')}" />

	<apex:includeScript value="{!$Resource.knockout_viewmodel}" />
	<apex:includeScript value="{!$Resource.knockout_mapping_min_js}" />

	<nFORCE:LifeCycle_Functions />

	<apex:includeScript value="{!$Resource.lifecycle_app}" />

	<apex:includeScript value="{!$Resource.nFORCE__knockout_custom_ui}" />

	<apex:stylesheet value="{!URLFOR($Resource.sweetalert2, 'sweetalert2.min.css')}" />
	<apex:includeScript value="{!URLFOR($Resource.sweetalert2, 'sweetalert2.min.js')}" />

	<nFORCE:Run_LifeCycleApp />

</apex:component>