<apex:component>

	<script type="text/javascript">
		Portal.Labels = {
			portal_route_update: 'PORTAL_ROUTE_UPDATE',
			portal_viewmodel_loaded: 'VIEW_MODEL_LOADED'

		};
		window.lbls = Portal.Labels;

	</script>
</apex:component>