p-calendar,
p-inputmask {
	display: block;
}
.ui-calendar {
	display: block;
}
.ui-datepicker {
	width: auto;
}
.ui-inputtext.ng-dirty.ng-invalid, 
p-dropdown.ng-dirty.ng-invalid > .ui-dropdown, 
p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext, 
p-calendar.ng-dirty.ng-invalid > .ui-inputtext, 
p-chips.ng-dirty.ng-invalid > .ui-inputtext, 
p-inputmask.ng-dirty.ng-invalid > .ui-inputtext, 
p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box, 
p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box, 
p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch, 
p-listbox.ng-dirty.ng-invalid .ui-inputtext, 
p-multiselect.ng-dirty.ng-invalid > .ui-multiselect, 
p-spinner.ng-dirty.ng-invalid > .ui-inputtext, 
p-selectbutton.ng-dirty.ng-invalid .ui-button, 
p-togglebutton.ng-dirty.ng-invalid .ui-button {
	border-bottom-color: #ccc;
}
.ui-widget {
	font-family: "Open Sans", Helvetica, sans-serif;
}
.ui-widget-header {
	background-image: none; 
}