body {
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	font-family: "Open Sans", Helvetica, sans-serif;
}
ul li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6,
p, label {
	font-weight: 300;
}
form {
	position: relative;
}

.div-spinner {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
	left: 0;
	background-color: #ffffff;
	z-index: 10;
}
.cc-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.center {
	text-align: center;
}
.text-red {
	color: #a51e31;
}

#logo-white-tree {
	margin-top: 50px;
}

#white-form {
	background-color: #ffffff;
	margin-bottom: 50px;
}
@media only screen and (min-width: 40.063em) { 
	#white-form {
		padding: 10px;
	}
}

#white-form h2 {
	margin-bottom: 20px;
	margin-top: 20px;
}

.ng-valid[required], 
.ng-valid.required {
	border-left: 2px solid #3983c5;
}

.ng-invalid:not(form):not(div) {
	border-left: 2px solid #a51e31;
}
