<div [formGroup]="form">
	<p><strong>{{question.label}}</strong></p>

	<div [ngSwitch]="question.controlType">

		<div *ngSwitchCase="'radio'">
			<ul class="choices">
				<li *ngFor="let choice of question.choices; let choice_index = index">
					<input [id]="'choice-' + question.id + '-' + choice_index" type="radio" [formControlName]="question.key" [value]="choice.key">
					<label [attr.for]="'choice-' + question.id + '-' + choice_index">{{choice.value}}</label>
				</li>
			</ul>
		</div>

	</div>

</div>