<div class="row">
	<div class="large-8 medium-10 medium-centered columns">
		<div class="row">
			<div class="columns center">
				<img id="logo-white-tree" [src]="imgWhiteTree" />
			</div>
		</div>
		<div id="white-form" class="row">
			<div class="columns">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>