<div class="row">
	<div class="columns">
		<h2>Please Verify Your Identity</h2>
		<p>Please complete the following fields so we can confirm your identity.</p>
	</div>
</div>
<form [formGroup]="personalInfoForm" (submit)="submit(personalInfoForm)" autocomplete="off">
	<div class="row">
		<div class="columns">
			<label>Date of Birth
				<p-inputMask formControlName="dob" mask="99/99/9999" placeholder="mm/dd/yyyy" slotChar="mm/dd/yyyy" required ></p-inputMask>
			</label>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<label>First Name
				<input type="text" formControlName="firstName" required />
			</label>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<label>Last Name
				<input type="text" formControlName="lastName" required />
			</label>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<label>Last four SSN
				<p-inputMask formControlName="ssn" mask="XXX-XX-9999" placeholder="XXX-XX-9999" required ></p-inputMask>
			</label>
		</div>
	</div>
	<div class="row">
		<div class="medium-8 columns">
			<p class="text-red" *ngIf="textAttempts">
				<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
				{{textAttempts}}
			</p>
		</div>
		<div class="medium-4 columns">
			<button class="button right" [disabled]="personalInfoForm.invalid || submitted">
				<i class="fa fa-spinner fa-pulse fa-fw" *ngIf="submitted"></i>
				Continue
			</button>
		</div>
	</div>
</form>