<div class="div-spinner" [ngClass]="{ 'hide' : !loading }">
	<div class="cc-spinner">
		<i class="fa fa-spinner fa-spin fa-5x fa-fw"></i>
		<span class="sr-only">Loading...</span>
	</div>
</div>

<div class="row">
	<div class="columns">
		<h2>Business Contact Information for {{modelBusinessInfo.name}}</h2>
		<p>Please review the information below. If the information is missing or incorrect, please update it.</p>
	</div>
</div>
<form [formGroup]="businessInfoForm" (submit)="submit(businessInfoForm)" autocomplete="off">

	<div class="row">
		<div class="medium-6 columns">
			<label>Legal Structure
				<select formControlName="legalStructure" required>
					<option *ngFor="let item of legalStructure" [value]="item.value" >
						{{item.label}}
					</option>
				</select>
			</label>
		</div>
		<div class="medium-6 columns">
			<label>Industry
				<select formControlName="industry" required>
					<option *ngFor="let item of industry" [value]="item.value" >
						{{item.label}}
					</option>
				</select>
			</label>
		</div>
	</div>

	<div class="row">
		<div class="medium-6 columns">
			<label>Street Address 1
				<input type="text" formControlName="street" required  />
			</label>
		</div>
		<div class="medium-6 columns">
			<label>Street Address 2
				<input type="text" formControlName="street2" />
			</label>
		</div>
	</div>
		
	<div class="row">
		<div class="medium-6 columns">
			<label>City
				<input type="text" formControlName="city" required />
			</label>
		</div>
		<div class="medium-3 columns">
			<label>State
				<select formControlName="state" required>
					<option *ngFor="let state of usStates" [value]="state" >
						{{state}}
					</option>
				</select>
			</label>
		</div>
		<div class="medium-3 columns">
			<label>Zip
				<p-inputMask mask="99999?-9999" formControlName="zip" placeholder="99999-9999" required></p-inputMask>
			</label>
		</div>
	</div>

	<div class="row">
		<div class="medium-6 columns">
			<label>Business Phone
				<p-inputMask mask="(999) 999-9999" formControlName="phone" placeholder="(999) 999-9999" required></p-inputMask>
			</label>
		</div>
	</div>
	
	<div class="row">
		<div class="columns">
			<button class="button right" [disabled]="businessInfoForm.invalid || submitted">
				<i class="fa fa-spinner fa-pulse fa-fw" *ngIf="submitted"></i>
				Continue
			</button>		
		</div>
	</div>

</form>